<!-- Toolbar -->
<p>
  <mat-toolbar color="primary">
    <span class="title">OPEN AI Playground</span>
    <span class="spacer"></span>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="navigate('dalle')" mat-menu-item>
        <mat-icon>image</mat-icon>
        <span>Image Generator</span>
      </button>
      <button (click)="navigate('chatgpt')" mat-menu-item>
        <mat-icon>chat</mat-icon>
        <span>Chat GPT</span>
      </button>
      <button (click)="navigate('text2speech')" mat-menu-item>
        <mat-icon>mic</mat-icon>
        <span>Text 2 Speech</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</p>

<router-outlet></router-outlet>
